table {
    font-size: 11px !important;
}
p, li ,a{
    font-size: 12px !important;
  
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-around;
    flex-direction: column;
}

body.vertical-layout.vertical-menu .main-menu .main-menu-content {
    padding-top: 50px;
}

td{
    color: #353131 !important;
    border: 1px solid #0000001c !important;
}
th{
    border: 1px solid #0000001c !important;
}
.blockUI.blockMsg.blockElement {
    min-width: 210px;
}

.header-navbar .navbar-container ul.nav li .scrollable-container {
    position: relative;
    overflow: auto;
}
div.dataTables_wrapper div.dataTables_filter{
    text-align: -webkit-right;
    /* text-align: center; */
}
.card-content.collpase.show {
    background-color: white;

}
.main-menu.menu-native-scroll .main-menu-content {
    overflow-y: scroll;
}
/* footer.footer {
    padding: 0.8rem;
    position: absolute;
    bottom: 0px;
    width: -webkit-fill-available;
} */

.bg-hexagons {
    background-color: #ffffff !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23f7f7f7' fill-opacity='1' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important; }
  
  .bg-hexagons-danger {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ff6576' fill-opacity='1' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important; }
  

.modal-lg {
    max-width: 90%;
}
.modal-md {
    max-width: 50%;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.5rem;
    background: white;
    border-radius: 0.35rem !important;
}

.card-modal{
    border-radius: 0.35rem !important;
}



.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #ffffff00;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.35rem;
    outline: 0;
}

  #head_payment_tsy_oufora {
    font-size: 1.32rem;
    position: absolute;
    right: 40%;
}

#table_detail_facture.dataTable {
    clear: both;
    margin-top: 30px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
}


.btn-warning:hover{

    background-color: #05ec6d !important;
    box-shadow: 0 7px 12px 0 rgba(96, 96, 99, 0.16) !important;


}

.main-menu.menu-dark .navigation > li.open > a {
    color: #ffffff;
    border-right: 4px solid #05d363;
}

.btn-warning{

    background-color: #05d363 !important;
    border: none !important;

}

.btn-warning:focus, .btn-warning:active {
    border-color: #05d363 !important;
    background-color: #05d363 !important;
    color: #FFF !important;
}


#alert_place{
    width: auto;
    position: absolute;
    right: 1%;
    top: 3%;
}
.btn-outline-light:hover{

    background-color: #d4d1cb !important;
    box-shadow: 0 7px 12px 0 rgba(96, 96, 99, 0.16) !important;

}
td{
    font-weight : 400 !important;
}
.prix-en-gras{
    font-weight : 600  !important;
}
form .form-actions {
    width: 100% !important;
    text-align: right;
    float: right;
    display: inline-flex;
    justify-content: flex-end;
}
#ajout_article .form-actions {
    width: 100% !important;
    text-align: right;
    float: none !important;
    display: block !important;
    justify-content: flex-end;
}

.btn-outline-light{

    background-color: transparent !important;
    color: #272424 !important;
    border-color: #cbcfd4 !important;

}

.bootstrap-select .dropdown-menu li {
    position: relative;
    line-height: 1;
    height: 40px;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #05d363 !important;
}

.header-navbar .navbar-header .navbar-brand .brand-logo {
    width: 36px;
    margin-top: -8px;
}

/* .dataTables_filter {
    display: none;
} */

 input , label{
    font-size: 12px !important;
    position: relative !important;

} 
.dataTables_filter label {
    font-size: 0;
}
.selectpicker{

    font-size: 11px !important;
    height: 15px !important;

}
div.dt-buttons{
    width: auto !important;
    margin-bottom: -28.8px;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #eee;
}
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child {
    border-right-width: 1px;
}

.btn-light {
    border-color: #babfc7 !important; 
    border-width: 0.01em;
     background-color: #e0e0e000 !important; 
    color: #272424;
}

@media (min-width: 600px) {
    .dataTables_wrapper table {
      display: block;
      position: relative;
      width: 100%;
      overflow-x: auto;
    }
  } */

.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #babfc7;
}
.btn-light:focus, .btn-light:active {
    color: #131212ad !important; 
}
.btn-light:hover {
    border-color: rgba(255, 0, 0, 0) !important;
    background-color: #bdbdbd00 !important;
    color: #131212ad !important;
}
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: thin dotted #33333300!important;
    outline: 0px auto -webkit-focus-ring-color!important;
    outline-offset: 0px;
}
.bootstrap-select .dropdown-toggle:hover{
    outline: 0.01em solid #47474734!important;
    color: #babfc7;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #babfc7;
}

.bootstrap-select>.dropdown-toggle {
    height: 30px;
    padding-bottom: 0px;
    padding-top: 6px;

}

.bootstrap-select .dropdown-toggle .filter-option {
    padding-top: 1px;
    position: static;
    top: 0;
    left: 0;
    float: left;
    height: 100%;
    width: 100%;
    text-align: left;
    overflow: hidden;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    font-size: smaller;
}

input{
    font-weight: 500 !important;
}

.leave-row {
    background-color: #ff5b5b29; /* Couleur de fond rouge pour marquer les lignes */
}